black==22.8.0
cached-property==1.5.1
Django==4.1.1
django-cors-headers==3.13.0
django-extensions==3.2.3
django-filter==22.1
django-phone-field==1.8.1
django-phonenumber-field==7.0.0
django-post-office==3.8.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
httplib2==0.14.0
isort==5.10.1
Jinja2==3.1.2
jsonschema==3.2.0
oauthlib==3.1.0
Pillow==7.0.0
postmarker==1.0
pytz==2019.3
PyYAML==5.3.1
requests==2.22.0
requests-unixsocket==0.2.0
SecretStorage==2.3.1
simplejson==3.16.0
sqlparse==0.4.2
urllib3==1.25.8
webencodings==0.5.1
websocket-client==0.53.0
Werkzeug==3.0.1
zipp==3.8.1
